.image {
    width: 200px;
    height: 200px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}
.product-listing {
    width: 50%;
}

.product-page-section {
    display: inline-block;
    width: 50%;
}

.header-container {
    background-color: aqua;
    display: flex;
}

.header-section {
    width: 50%;
    display: flex;
    align-items: center;
}

.header-right {
    justify-content: center;
}

.main-body {
    display: flex;
}

.nav-background {
    background-color: beige;
}